http://localhost:80 {
	redir https://localhost:8443{uri} permanent
}

https://localhost:443 {
	tls internal
	log

	handle /health {
		respond "ok" 200
	}

	@api path /api/*
	handle @api {
		reverse_proxy backend:3000
	}

	handle {
		reverse_proxy frontend:3000
	}
}
